[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
torch = "*"
torchvision = "*"
scikit-learn = "*"
pytest = "*"
pytest-cov = "*"
pytest-testmon = "*"
pytest-repeat = "*"
pytest-json-report = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
